# Virtual Environment
myenv/
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
media/

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Logs
*.log

# Distribution / Packaging
build/
dist/
*.egg-info/

# Migrations cache
**/__pycache__/

# pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/
